@import "./rose-pine.css";


* {
    border-radius: 5px;
    font-family: "SF Pro Display", "FontAwesome";
    font-size: 4mm;
    min-height: 0;
    margin: 0;
    color: @text;
}

#custom-lock {
        margin: 0 5mm;
}

#custom-calendar{
        margin: 0 -2mm;
        padding: 0 5mm;
        font-size: 10mm;
        color: @base;
        background: @iris;
}

window#waybar {
    background: transparent;
}

window#waybar > box {
    /*border-radius: 8px;*/
    margin: 2mm 0mm 0mm 0mm;
    /*background-color: @base;*/
    /*padding-top: 8px;*/
    /*padding-bottom: 5px;*/
    /*box-shadow: 4px 4px 2px 1px #101010;*/
}

#workspaces {
        background: @base;
        border-top-left-radius: 100mm;
        border-top-right-radius: 100mm;
        border-bottom-left-radius: 10mm;
        border-bottom-right-radius: 10mm;
        padding: 3mm 7mm;
}

#workspaces button label {
  font-size: 7mm;
}

#workspaces button {
    margin: 0 5px;
    background: @highlightMed;
    border-radius: 9999mm;
    min-width: 20px;
    min-height: 10px;
    padding: 0 2mm;
}

#workspaces button.focused {
    min-width: 80px;
    background-color: @pine;
}

#workspaces button.urgent {
    background-color: @love;
}

#workspaces button.focused  {
    background: @pine;
    color: @base;
}

#clock.date {
    background: @base;
    padding: 0 10mm 0 5mm;
    border-top-right-radius: 100mm;
    border-bottom-right-radius: 5mm;
}

#memory {
    padding: 0 5mm 0 10mm;
    background: @base;
    border-top-left-radius: 100mm;
    border-bottom-left-radius: 5mm;
}

#keyboard-state label.capslock.locked {
    font-size: 15px;
    padding: 0 15px;
    background: @gold; 
}


#pulseaudio {
    padding: 0 5mm;
    background: @base;
}


#pulseaudio.muted {
    background: @gold;
    color: #000;
}

#pulseaudio.2.source-muted {
    background: @love;
    color: @base;
}

#network {
    background: @base;
    padding: 0 10px;
}

#network.disconnected {
    background: @love;
    color: @base;
}
