source_env_if_exists .envrc.prehook

eval "$(./install_golang.sh 2>/dev/null)"

export TMPDIR="$(expand_path .local/tmp)"
mkdir -p "$TMPDIR"

export CARGO_HOME="$(expand_path .local/share/rust/.cargo)"
export RUSTUP_HOME="$(expand_path .local/share/rust/.rustup)"
export NPM_CONFIG_CACHE="$(expand_path .local/state/npm)"

# Add repo-local dependencies here. Usually language runtimes at the very least.
PATH_add .local/bin

source_env_if_exists .envrc.posthook
