PATH_add "$HOME/code/james-orcales/.local/bin/"
export XDG_CONFIG_HOME="$HOME/code/james-orcales/dotfiles/.config/"
export FZF_DEFAULT_OPTS="          \
        --reverse                          \
        --ansi                             \
        --bind='ctrl-h:backward-kill-word' \
        --bind='shift-down:half-page-down' \
        --bind='shift-up:half-page-up'     \
        --bind='home:first'                \
        --bind='end:last'                  \
        "
export EDITOR=nvim

