[user]
    email = 149360196+james-orcales@users.noreply.github.com
	name = James Orcales

# Ensure that your other ssh key is added to your ssh agent
[includeIf "gitdir:~/work/"]
    path = ~/work/git/.gitconfig

[url "ssh://git@github.com/"]
        insteadOf = https://github.com/

[init]
	defaultBranch = main
